- var pageTitle = page.title || config.subtitle || 'The Scarlet Review Spring 2018'
- var pageDescription = page.accentText || 'The Scarlet Review is Rutgers-Camden’s annual showcase of undergraduate writing.'
- var pageImage = page.headerimage || null

doctype html
html(lang=config.language)
	head
		meta(charset='UTF-8')
		title= pageTitle
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css")
		link(rel="stylesheet", href="css/main.css")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description" content=pageDescription)
		meta(name="twitter:card" content="summary")
		meta(name="twitter:title" content=pageTitle)
		meta(name="twitter:description" content=pageDescription)
		if pageImage
			meta(name="twitter:image" content="http://scarletreview.camden.rutgers.edu/" + pageImage)
		meta(property="og:title" content=pageTitle)
		meta(property="og:description" content=pageDescription)
		meta(property="og:type" content="article")
		meta(property="og:site_name" content="The Scarlet Review")
		if pageImage
			meta(property="og:image" content="http://scarletreview.camden.rutgers.edu/" + pageImage)
		
	body
		a.cover-link(href="home.html")
			div.cover-page
				include includes/masthead.svg
				p.issue-date Spring 2018
